:root {
  --main-bcg-color: #ffffff;
  --second-bcg-color: #2f303a;
  --main-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --button-main-color: #f5f4fa;
}
/*Обнуление стилей*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, input {
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Конец Обнуления стилей*/


/* Основной стиль страницы*/
.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--main-bcg-color);
}


.container{

    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Хедер, основная навигация страницы*/
.header {
    border-bottom: 1px solid #ECECEC;

}

.header__section {
    display: flex;
    align-items:center;

    justify-content: space-between;
    min-height: 80px;
   
}

/*Главная навигация*/

/* Логотип */
.header__logo{
    margin-right: 93px;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-color);
  text-decoration: none;
}


.logo__accent {
  color: var(--accent-color);
}


/* Меню навигации хедер */
.site-nav {
    display: flex;
    align-items:center;
    
}
.site-nav__list {
    display: flex;
}


.site-nav__link {

position:relative;
    
padding-top: 32px;
padding-bottom: 32px;

display: block;
    
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);

}

.site-nav__link-accent {
    color: var(--accent-color);
  
}

.site-nav__link-accent::after {
    content: '';
    position: absolute;
    
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, -0%);

    background-color: rgba(33, 150, 243, 1);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.site-nav__link-accent:hover,
.site-nav__link-accent:focus {
  color: var(--title-color);
}

.site-nav__item {
    margin-right: 50px;
    list-style: none;
}

.site-nav__item:last-child {
    margin-right:0px;
}

/*Контакты*/

.header__contacts-section {
    display: flex;
    align-items: center;
}


.header__contact {
display: inline-flex;
align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

padding-bottom: 32px;
padding-top: 32px;
margin-right: 50px;


}
.contacts-section__link:last-child{
        margin-right: 0px;
}

.header__icon{
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}



.header__contact:hover,
.header__contact:focus {
  color: var(--accent-color);
}



/*Основная секция страницы Портфолио*/



/*Кнопки фильтрации*/
.portfolio__buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter-btns__item {
    margin-right: 8px;
}
.filter-btns__item:last-child{
    margin-right: 0;
}

.filter-btns__button {
  display:inline-block;  
  padding: 6px 22px;
  min-height: 38px;
  
   
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-color);
  background-color: var(--button-main-color);
  cursor: pointer;


  
  border: none;
  border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-btns__button:hover,
.filter-btns__button:focus {
  color: #fff;
  background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Портфолио работ*/
.portfolio__projects {
    display: flex;
    flex-wrap: wrap;
      
}

.projects__item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* .main-portfolio .projects .item:hover{
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
} */

.projects__link{
   display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.projects__card-thumb{
  position: relative;
overflow:hidden;
    
}
.projects__overlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    transform: translateY(100%);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 63px 24px;
   
    font-size: 18px;
    line-height: 1.56;
    
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    overflow:hidden;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
    transform: translateY(0);
}

.projects__link:hover,
.projects__link:focus {
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
0px 4px 4px 0px rgba(0, 0, 0, 0.06),
0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}


.projects__item:nth-child(3n)
{
 margin-right:0 ;   
}
.projects__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/*Наполнение карточки проэктов*/

.projects__info{
    padding: 20px 24px;
     border: 1px solid #EEEEEE;
    border-top: none;

    
}
.projects__title {
  margin-bottom: 4px;  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}


.projects__description {
  color: var(--main-color);
}

.projects__card-title{
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-color);
}
/*Футер*/

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--second-bcg-color);
}

.footer__info {
    display: flex;
    align-items: baseline
}

.address__contact:last-child{
    margin-bottom: 0;
}
.footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.address__street {
 margin-bottom: 9px; 
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address__contact {
    display: block;
    margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
    color:var(--accent-color) ;
}
.follow-us__social {
    display: flex;
    justify-content: center;
    align-items: center;


}
.follow-us {
    margin-left: 70px;
}

.follow-us__title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.follow-us__link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.follow-us__item{
    margin-right: 10px;
}

.follow-us__item:last-child{
    margin-right: 0;
}

.follow-us__icon{
    fill: #FFFFFF;
}

.follow-us__link:hover,
.follow-us__link:focus{
    background-color: var(--accent-color);
}

/* Подпишитесь на нас */
.subscribe {
    margin-left: auto;
}
.subscribe__form {
    display: flex;
}

.subscribe__input{
    width: 358px;
    height: 50px;
    padding-left:16px ;
    
    background-color: var(--second-bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    cursor: pointer;
    caret-color:rgba(255, 255, 255, 0.6);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscribe__input::placeholder{
    line-height: 1.25;    
    color: rgba(255, 255, 255, 0.6);

}

.subscribe__input:focus-within{
    outline: none;
    border-color: var(--accent-color);
}

.subscribe__input:not(:placeholder-shown){
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);

}

.subscribe__subtitle{
    margin-bottom: 20px;
   
    color: #FFFFFF;
}

.subscribe__button {

margin-left: 12px;


}
.subscribe__button-icon{
    display: flex;
    align-items:center ;
    padding-right:29px;
    padding-left: 29px;
}
.form__subscribe {
    display: flex;

}
.subscribe__icon{
    fill: currentColor;
    margin-left: 10px;
}

/* End Футер */

/*Стили главной страницы*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Герой (главный баннер) */
.hero {
  background-color: var(--second-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

  margin: 0 auto;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;

  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}

.hero__button{
    display: inline-block;
}


.button {
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

 
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus  {
  background-color: #188ce8;
}

/* О компании*/
.features{
    display: flex;
}


.features__item {
margin-right: 30px;
}

.features__item:last-child{
    margin-right: 0px;
}
/* Оформление иконки */

.features__icon-thumb{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    
    width: 270px;
    height: 120px;
    
    background-color:rgba(245, 244, 250, 1);
    border-radius: 4px;
}


.features__subtitle {
  margin-bottom: 10px;

  
  color: var(--title-color);
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}
.features__info {
  font-size: 14px;
  line-height: 1.71;
}

/*Чем мы занимаемся*/
.about-us{
    padding-top: 0px;

}

.about-us__title{
    margin-bottom: 50px;   
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
}


.solutions {
    display: flex;
}

.solutions__item {
    position: relative;
    margin-right: 30px;
}

.solutions__item:last-child{
    margin-right: 0;
}

.solutions__subtitle{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px; 
    
    text-align: center;
    
    
    color: #FFFFFF;

    background-color: rgba(47, 48, 58, 0.8);;
} 

/*Команда*/
.team { 
  background-color: var(--button-main-color);
}

.team__title {
    margin-bottom: 50px;
}

.team-meambers{
    display: flex;
}


.team-meambers__person:last-child{
    margin-right: 0;
}

.team-meambers__person {
    margin-right: 30px;

    width: 270px;

    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-meambers__title{
  margin-top:30px ;  
margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;

  color: var(--title-color);
}
.team-meambers__position{
  margin-bottom: 16px;  
  line-height: 1.19;

  text-align: center;
}

/* Социальные сети */
.team-meambers__media{
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}
.team-meambers__social{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-meambers__link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-meambers__social:last-child{
margin-right: 0;
}

.team-meambers__icon{
display:flex;
justify-content: center;
align-items: center;
        fill:rgba(175, 177, 184, 1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-meambers__link:hover,
.team-meambers__link:focus {
    background-color: var(--accent-color);
}

.team-meambers__link:hover .team-meambers__icon,
.team-meambers__link:focus .team-meambers__icon {
    fill: rgba(255, 255, 255, 1);

}

/* Постоянные клиенты */

.customers__title{
    margin-bottom: 50px;
}

.customers__list{
    display:flex;
    justify-content: center;
    align-items: center;
}
.customers__item {
    margin-right: 30px;
}
.customers__item:last-child{
    margin-right: 0;
}
.customers__link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon {
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover,
.customer__link:focus
{
    border-color:var(--accent-color);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
    fill: var(--accent-color);
}

/* Модальное окно */
 .backdrop{
    position: fixed;
    top:0;
    left: 0;
    
    opacity: 1;
    visibility: visible;
   
    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.backdrop.is-hidden{
    opacity: 0;
    pointer-events:none;
    visibility: hidden;

}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.4);

}

.modal{
    position: absolute;

    padding: 40px;
    
    width: 528px;
   
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(1);

    border-radius: 4px;

    background-color: #FFFFFF;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 
}

.modal .icon-close{
    position: absolute;
    top:8px;
    right: 8px;


    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 30px;
    height: 30px;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #fff;

    cursor: pointer;

}

.icon-close .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-close:hover .icon {
    fill: var(--accent-color);

}

/* Форма в модальном окне */
.form p{
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    
    color: var(--title-color);
}
.form-field + .form-field{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.form-lable {
    
    padding-bottom: 4px;


    font-size: 12px;
    line-height: 1.17;  
    letter-spacing: 0.01em;
    color: var(--main-color);
}

.form-input,
.text-area {

    width: 448px;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input{
    padding-left: 42px;
    cursor: pointer;
}

.icon-position {
    position: relative;

}

.form-field .icon {
    position: absolute;

    display: inline-flex;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within ~ .icon{
fill: var(--accent-color);
}

.form-input:focus-within,
.text-area:focus-within {
    border-color: var(--accent-color);
    outline: none;
}

.text-area {
    resize: none;
    height: 120px;

    padding: 12px 16px;
    
    cursor: pointer;
}

.text-area::placeholder{


    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);

}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px;

    min-width: 425px;

    cursor: pointer;
}
.icon-check{
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-color);
    border-radius: 2px;

    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label > .text{
    margin-left: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    color: var(--main-color);
}
.checkbox:checked + .icon-check{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
.checkbox-label .policy {
    text-decoration: underline;
    color: var(--accent-color);
}

.form .button{
    display: block;
    margin: auto;
}

