.hero {
    background-color: $second-bcg-color;
    background-image: linear-gradient($hero-gradient), url(./images/hero.jpg);

    margin: 0 auto;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;

    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $title-white-accent;
}

.hero__button {
    display: inline-block;
}