/*Обнуление стилей*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, input {
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.body {
    font-family: $font-family;
    letter-spacing: 0.03em;
    color: $main-color;
    background-color: $main-bcg-color;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-color;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}